
.Sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    border-right: 1px solid var(--color-block);
    z-index: 99;
}

.SidebarLink {
    padding: 12px 24px;
    margin: 10px 24px;
    border-radius: 12px;
    color: black;
    text-decoration: none;
}

.SidebarLink:hover, .SidebarLinkActive {
    background: var(--color-block);
}

.Title {
    font-weight: 600;
    font-size: 18px;
    align-self: center;
    justify-content: center;
    padding: 10px 0;
    margin: 16px 0;
}